.page_container {
  padding: 0%;
  display: flex;
  justify-content: space-between;
  margin: 0% 1%;
  font-size: 160%;
  color: #0d6efd;
  height: 40px;
}

.page_number {
  display: flex;
}

.page_number i {
  cursor: pointer;
  padding-right: 20%;
  width: 40px;
}

.page_number p {
  color: black;
  font-weight: 600;
}
.next_button {
  cursor: pointer;
  padding-right: 2%;
}
